.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: right;
}
#container {
    text-align: center;
}
.footer {
    margin-top: 50px;
    text-align: center;
}

h1{font-family:neo}
h2{font-family:neo}
p{font-family:neo}

*{
font-family:neo
}

body {
  padding-bottom: 50px;
  margin: 0;
    font-family:neo
}

h1 {
  margin: 50px auto 15px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
}

#page_content {
  text-align: center;
    font-family:neo;
}

form {
  width: 80%;
  padding: 20px 0 0!important;
  display: inline-block!important;
  text-align: center;
    font-family:neo;
}

.example {
  font-weight: normal;
    font-family:neo
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.ex-text {
  color: #ccc;
    font-family:neo
}

#driveID {
  width: 300px;
  margin: 0 auto;
}

.get {
  padding: 0 20px;
text-align: center;
}

#container {
  display: none;
        text-align: center;
}

#link_container,
.get-another {
  margin-top: 20px;
}

#driveID {
  margin-top: 20px;
}

.how-to {
  text-align: left;
  margin-top: 30px;
}
.footer {
  margin-top: 50px;
}
