.about_author {
    display: none;
}
.social-buttons {
    display: none;
}
#Followers2{display:none!important;}
#HTML4,#HTML201{display:none!important;}
.inner_post_data,#topheader,.slider,.social-buttons.about_author,#latest_comments,.comments,#blog-pager,footer{display:none!important;}
#main {margin-top: 10%;}

  #postAD-top,#postAD-bottom,#HTML202{display:none;}
#sidebar-wrapper {
    display: none;
}


body {
  padding-bottom: 50px;
  margin: 0;
}

h1 {
  margin: 50px auto 15px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
}

#page_content {
  text-align: center;
}

form {
  width: 80%;
  padding: 20px 0 0!important;
  display: inline-block!important;
  text-align: center;
}

.example {
  font-weight: normal;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.ex-text {
  color: #ccc;
}

#driveID {
  width: 300px;
  margin: 0 auto;
}

.get {
  padding: 0 20px;
text-align: center;
}

#container {
  display: none;
        text-align: center;
}

#link_container,
.get-another {
  margin-top: 20px;
}

#driveID {
  margin-top: 20px;
}

.how-to {
  text-align: left;
  margin-top: 30px;
}
.footer {
  margin-top: 50px;
}
